<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Haqqiv1/
    
    # Redirect all requests to the router
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
